//Medium desktop version
@media (min-width: 1410px) {
  //Header section
  .header {
    &__logo {
      &-svg {
        width: 87px;
        margin: {
          top: -10px;
        };
      }
    }

    &__navigation {
      margin: {
        left: 170px;
      };

      &-list {
        justify-content: flex-start;
      }

      &-item {
        margin: {
          left: 30px;
        };

        &:first-child {
          margin: {
            left: 0;
          };
        }
      }
    }
  }

  //Fixed header
  .fixed {
    & .header {
      &__logo {
        &-svg {
          margin: {
            //top: -17px;
          };
        }
      }
    }
  }

  //Desktop menu section
  .desktop {
    padding: {
      top: 55px;
      bottom: 160px;
    };

    &__menu {
      &-link {
        font-size: 16px;
      }
    }

    &__sub {
      &-title {
        margin: {
          top: 35px;
        };

        &-link {
          font-size: 16px;
        }
      }

      &-link {
        font-size: 18px;
      }

      &menu {
        &-link {
          font-size: 16px;
        }
      }
    }

    &__contacts {
      &-phone {
        font-size: 26px;

        &-wrapper {
          margin: {
            top: 85px;
          };
        }
      }

      &-email {
        font-size: 18px;
      }

      &-address {
        font-size: 16px;
      }
    }

    &__social {
      &-feedback {
        background: #0F3068;
        border: 1px solid rgba(223, 225, 232, 0.2);
        box-sizing: border-box;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        width: 222px;
        height: 52px;
        color: white;
        margin: {
          top: 45px;
        };
      }

      &-list {
        display: flex;
        justify-content: space-between;
        width: 160px;
        margin: {
          top: 30px;
          left: 0;
          right: 0;
        };
      }

      &-link {
        &-svg {
          height: 28px;
          width: 28px;
        }
      }
    }

    &__svg {
      position: absolute;
      width: 404px;
      height: 211px;
      bottom: 0;
      right: 0;
      fill: #07214D;
      display: block;
      z-index: -1;
    }
  }

  //Prime section
  .prime {
    & .slick {
      &-next,
      &-prev {
        bottom: 100px;
        margin: {
          left: -513px;
        };
      }

      &-prev {
        margin: {
          left: -585px;
        };
      }
    }

    &__slider {
      &-item {
        min-height: 600px;
      }
    }

    &__title {
      margin: {
        top: 110px;
      };
    }

    &__description {
      width: 350px;
      margin: {
        top: 35px;
      };
    }
  }

  //Services section
  .services {
    padding: {
      top: 80px;
      bottom: 105px;
    };

    &__description {
      padding: {
        left: 43px;
      };
    }
  }

  //Products section
  .products {
    padding: {
      top: 80px;
      bottom: 50px;
    };

    &__wrapper {
      &:hover .products__item-description {
        margin: {
          top: 130px;
        };
      }

      &:hover .products__item-text {
        top: 185px;
      }
    }

    &__item {
      height: 280px;

      &-description {
        font-size: 18px;
        line-height: 24px;
        margin: {
          top: 80px;
        };
      }

      &-text {
        width: 250px;
      }
    }
  }

  //Steps section
  .steps {
    padding: {
      top: 90px;
      bottom: 90px;
    };
    & .slick {
      &-next,
      &-prev {
        top: 42px;
        margin: {
          left: -180px;
        };

        & > svg {
          height: 60px;
          width: 60px;
        }
      }

      &-prev {
        margin: {
          left: -250px;
        };
      }
    }

    &__slider {
      width: 100%;

      &-title {
        font-size: 24px;
        line-height: 24px;
        margin: {
          top: 96px;
        };
      }

      &-wrapper {
        height: 420px;
      }

      &-item {
        padding: {
          left: 200px;
        };
      }

      &-description {
        margin: {
          top: 30px;
        };
      }
    }

    &__number {
      &-wrapper {
        left: 85px;
      }

      &-svg {
        &-wrapper {
          right: 52px;
        }
      }
    }

    &__about {
      &-wrapper {
        width: 1200px;
        flex-direction: column;
        height: 700px;
      }
    }

    &__spinner {
      min-height: 700px;

      &-circle {
        width: 315px;
        height: 449px;
        top: 130px;
        left: 140px;
      }

      &-it {
        width: 175px;
        height: 146px;
        top: 275px;
      }

      &-item {
        height: 84px;
        width: 84px;

        &-inner {
          height: 68px;
          width: 68px;
          margin: {
            top: 7px;
            left: 7px;
          };
        }
      }

      &-first {
        top: 62px;
        left: 34px;
      }

      &-second {
        top: 62px;
        left: 207px;
      }

      &-third {
        top: 175px;
        left: 322px;
      }

      &-fourth {
        top: 348px;
        left: 322px;
      }

      &-fifth {
        top: 462px;
        left: 207px;
      }

      &-sixth {
        top: 462px;
        left: 34px;
      }
    }
  }

  .about-us {
    height: 280px;

    &__wrapper {
      padding: {
        left: 53px;
      };
    }

    &__svg {
      width: 274px;
      height: 147px;
    }

    &__text {
      font-size: 22px;
      line-height: 30px;
    }
  }

  //News section
  .news {
    padding: {
      top: 65px;
      bottom: 110px;
    };

    &__item {
      height: 400px;

      &-bg {
        &-wrapper {
          height: 200px;
        }
      }

      &-inner {
        max-width: 22%;

        &-main {
          max-width: 34%;
        }
      }

      &-description {
        height: 200px;
      }
    }
  }

  //Map section
  .map {
    padding: {
      top: 60px;
    };

    &__body {
      height: 600px;
      margin: {
        top: 40px;
      };
    }
  }

  //Partners section
  .partners {
    padding: {
      top: 90px;
      bottom: 90px;
    };

    & .slick {
      &-next,
      &-prev {
        top: 66px;
        margin: {
          right: -585px;
        };
      }

      &-prev {
        margin: {
          right: -513px;
        };
      }
    }

    &__item {
      &-description {
        &-wrapper {
          height: 265px;
        }
      }
    }
  }

  //Instagram section
  .instagram {
    padding: {
      top: 85px;
    };
  }

  //Footer section
  .footer {
    &__top {
      padding: {
        top: 75px;
        bottom: 155px;
      };

      &-svg {
        width: 600px;
        height: 320px;
        bottom: 50px;
      }
    }

    &__contacts {
      width: 25%;
    }

    &__social {
      &-feedback {
        margin: {
          top: 60px;
        };
      }
    }

    &__menu {
      width: 50%;

      &-list {
        column-count: 3;
      }

      &-link {
        font-size: 18px;
        line-height: 54px;
      }
    }

    &__rights {
      padding: 0;
      &-wrapper {
        height: 50px;
      }
    }
  }
}
