//Big desktop version
@media (min-width: 1680px) {
  //Header section
  .header {
    &__navigation {
      margin: {
        left: 410px;
      };
    }
  }

  //Prime section
  .prime {
    & .slick {
      &-next,
      &-prev {
        bottom: 80px;
        margin: {
          left: -632px;
        };
      }

      &-prev {
        margin: {
          left: -705px;
        };
      }
    }

    &__slider {
      &-item {
        min-height: 770px;
        padding: {
          bottom: 210px;
        };
      }
    }

    &__title {
      margin: {
        top: 180px;
      };
    }

    &__description {
      width: 350px;
      margin: {
        top: 45px;
      };
    }
  }

  //Services section
  .services {
    padding: {
      top: 120px;
      bottom: 115px;
    };

    &__title {
      margin: {
        bottom: 30px;
      };
    }

    &__item {
      &:hover .services__image-wrapper {
        width: 170px;
      }
    }
  }

  //Products section
  .products {
    padding: {
      top: 105px;
    };

    &__item {
      &-description {
        width: 285px;
      }

      &-text {
        width: 285px;
      }
    }

    &__link {
      margin: {
        top: 35px;
      };
    }
  }

  //Steps section
  .steps {
    padding: {
      top: 105px;
      bottom: 133px;
    };
    & .slick {
      &-next,
      &-prev {
        top: 101px;
        margin: {
          left: -250px;
        };
      }

      &-prev {
        margin: {
          left: -320px;
        };
      }
    }

    &__title {
      padding: {
        bottom: 60px;
      };
    }

    &__slider {
      &-wrapper {
        height: 420px;
      }

      &-item {
        padding: {
          left: 240px;
          right: 30px;
        };
      }
    }

    &__number {
      &-wrapper {
        left: 85px;
      }

      &-svg {
        &-wrapper {
          right: 55px;
        }
      }
    }

    &__about {
      &-wrapper {
        width: 1440px;
      }
    }

    &__spinner {
      &-circle {
        left: 174px;
      }

      &-first {
        left: 68px;
      }

      &-second {
        left: 241px;
      }

      &-third {
        left: 356px;
      }

      &-fourth {
        left: 356px;
      }

      &-fifth {
        left: 241px;
      }

      &-sixth {
        left: 68px;
      }
    }
  }

  .about-us {
    &__wrapper {
      padding: {
        top: 95px;
        left: 72px;
      };
    }
  }

  //News section
  .news {
    padding: {
      top: 115px;
      bottom: 120px;
    };
    &__main {
      &-title {
        margin: {
          top: auto;
        };
      }
      &-inner {
        margin: {
          top: 20px;
        };
      }
      &-img {
        &-wrapper {
          width: 212px;
          //margin: {
          //  top: 20px;
          //};
        }
      }
      &-date {
        margin: {
          left: 87px;
        };
      }
    }

    &__item {
      &-wrapper {
        margin: {
          top: 40px;
        };
      }
    }
  }

  //Map section
  .map {
    padding: {
      top: 110px;
    };

    &__body {
      height: 750px;
      margin: {
        top: 60px;
      };
    }
  }

  //Partners section
  .partners {
    padding: {
      top: 125px;
      bottom: 135px;
    };

    & .slick {
      &-next,
      &-prev {
        top: 125px;
        margin: {
          right: -705px;
        };
      }

      &-prev {
        margin: {
          right: -632px;
        };
      }
    }

    &__title {
      padding: {
        bottom: 62px;
      };
    }

    &__item {
      &-logo {
        &-wrapper {
          height: 100px;
        }
      }

      &-description {
        margin: {
          top: 25px;
        };

        &-wrapper {
          height: 325px;
        }
      }

      &-title {
        padding: {
          top: 35px;
        };
      }

      &-footer {
        margin: {
          bottom: 25px;
        };
      }
    }
  }

  //Instagram section
  .instagram {
    padding: {
      top: 110px;
    };

    &__title {
      padding: {
        bottom: 60px;
      };
    }
  }

  //Footer section
  .footer {
    &__top {
      padding: {
        bottom: 130px;
      };

      &-svg {
        bottom: 75px;
      }
    }

    &__contacts {
      &-address {
        margin: {
          top: 25px;
        };
      }
    }

    &__menu {

    }

    &__social {
      &-feedback {
        margin: {
          top: 70px;
        };
      }
    }

    &__rights {
      height: 50px;
    }
  }
}
