//Balloon style
.popover {
  background: white;
  width: 470px;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.25);
  position: absolute;
  margin: {
    top: -14px;
  };
  &::after {
    @include mix-pseudo-base;
    background: white;
    left: 50%;
    bottom: -9px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    margin: {
      left: -9px;
    };
  }

  &__inner {
    min-height: 20px;//---Old---
    position: relative;//---Old---
    padding: 0;//---Old---
  }
  &__content {
    width: 100%;//---Old---
  }
  &__close {
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    top: 17px;
    &-svg {
      width: 12px;
      height: 12px;
    }
  }
}

.balloon {

  & svg {
    position: absolute;//---Old---
    top: 0;//---Old---
    left: 0;//---Old---
    height: 24px;//---Old---
    width: 24px;//---Old---
    fill: #747373;//---Old---
  }

  &__header {
    position: relative;
    padding: {
      top: 20px;
      left: 28px;
      right: 20px;
      bottom: 25px;
    };
    &::before {
      @include mix-pseudo-base;
      //width: 100%;
      height: 1px;
      left: -28px;
      right: -20px;
      bottom: 0;
      background: #19275D;
      opacity: 0.14;
    }
  }

  &__title {
    &-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__body {
    display: flex;
    position: relative;
    padding: {
      top: 15px;
      left: 28px;
      right: 20px;
      bottom: 20px;
    };
    &::before {
      @include mix-pseudo-base;
      height: 1px;
      left: -28px;
      right: -20px;
      bottom: 0;
      background: #19275D;
      opacity: 0.14;
    }
  }
  &__description {
    margin: {
      left: 40px;
    };
    &-column {
      color: #222222;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
    }
    &-value {
      color: #222222;
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__footer {
    position: relative;
    padding: {
      top: 20px;
      left: 28px;
      right: 20px;
      bottom: 25px;
    };
    &-description {
      font-size: 14px;
      line-height: 21px;
      color: #222222;
    }
  }
}

@media (max-width: 575px) {
  .popover {
    width: 100%;//---Old---
  }

  .balloon {

    &__title {
      padding-bottom: 10px;//---Old---
      & a {
        font-size: 18px;//---Old---
      }
    }
    &__address {
      font-size: 12px;//---Old---
      padding: 10px 0 10px 30px;//---Old---
      & svg {
        top: 8px;//---Old---
      }
    }
    &__phone {
      margin-top: 10px;//---Old---
      padding-left: 30px;//---Old---
    }
    &__email {
      margin-top: 5px;//---Old---
      padding-left: 30px;//---Old---
      & > a {
        //color: $black;
      }
    }
    &__work-time {
      margin-top: 5px;//---Old---
      //position: relative;
      padding-left: 30px;//---Old---
    }
  }
}
