//Header
.header {
  background: white;
  box-shadow: 0 2px 10px rgba(1, 43, 77, 0.14);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    transition: .3s;
  }

  &__logo {
    height: 100%;
    display: block;

    &-svg {
      transition: .3s;
      margin: {
        top: -4px;
      };
      width: 75px;
    }
  }

  &__navigation {
    display: none;
  }

  &__menu {
    &-open {
      width: 24px;

      &-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  &__desktop {
    &-open {
      &-wrapper {
        display: none;
      }
    }
  }
}

//Fixed header
.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  right: 0;

  & .header {
    &__wrapper {
      height: 50px;
    }
    &__logo {
      &-svg {
        margin: {
          top: -11px;
        };
      }
    }
  }
}

//Mobile menu section
.mobile {
  background: #0A285A;
  display: none;
  overflow-y: scroll;
  height: calc(100vh - 50px);

  &__menu {
    &-item {
      transition: .3s;
      padding: {
        left: 25px;
        right: 25px;
      };
      border: {
        bottom: 1px solid #2D4367;
      };

      &--open {
        background: #0175B2;
        border: none;

        & .mobile__menu-button {
          transform: rotate(45deg);
        }
      }

      &-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    &-link {
      display: block;
      color: white;
      font-weight: bold;
      line-height: 19px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      width: 100%;
      padding: {
        top: 30px;
        bottom: 30px;
      };
    }

    &-button {
      display: block;
      height: 10px;
      width: 11px;
      transform: rotate(225deg);
      transition: .3s;
      border: {
        left: 2px solid white;
        top: 2px solid white;
      };
      margin: {
        top: 35px;
        left: 25px;
      };
    }

    &-sub {
      &-list {
        display: none;
        padding: {
          bottom: 50px;
        };
      }

      &-item {
        margin: {
          top: 20px;
        };

        &:first-child {
          margin: 0;
        }
      }

      &-link {
        font-size: 18px;
        line-height: 19px;
        color: #C9D4E6
      }
    }
  }

  &__feedback {
    padding: {
      top: 30px;
      left: 25px;
      right: 25px;
      bottom: 45px;
    };

    &-title {
      color: white;
    }

    &-input {
      width: 100%;
      line-height: 24px;
      font-size: 16px;
      background: transparent;
      color: white;
      border: {
        bottom: 1px solid white;
      };
      padding: {
        top: 5px;
        bottom: 5px;
      };

      &::placeholder {
        font-size: 16px;
        line-height: 24px;
        color: white;
        opacity: 1;
      }

      &-wrapper {
        position: relative;
        margin: {
          top: 20px;
        };

        &:first-child {
          margin: {
            top: 40px;
          };
        }

        &:last-child {
          margin: {
            top: 25px;
          };
        }
      }

      &-svg {
        position: absolute;
        height: 10px;
        width: 10px;
        right: 5px;
        top: 15px;

      }
    }

    &-textarea {
      width: 100%;
      line-height: 24px;
      font-size: 16px;
      background: transparent;
      color: white;
      height: 60px;
      resize: none;
      border: {
        bottom: 1px solid white;
      };

      &-wrapper {
        position: relative;
        margin: {
          top: 20px;
        };
      }
    }

    &-field {
      position: absolute;
      color: white;
      cursor: inherit;
      bottom: 5px;
      left: 0;
      transition: .3s;
    }

    &-captcha {
      &-wrapper {
        height: 66px;
        background: darkred;
        margin: {
          top: 45px;
        };
      }
    }

    &-submit {
      height: 60px;
      font-size: 16px;
      line-height: 19px;
      color: white;
      width: 100%;
      text-align: center;
      background: #0175B2;
      margin: {
        top: 18px;
      };
    }

    &-check {
      &-wrapper {
        position: relative;
      }

      &-description {
        padding: {
          left: 25px;
        };
      }

      &-rules {
        position: absolute;
        z-index: -1;
        opacity: 0;

        & + label {
          user-select: none;
          font-size: 12px;
          line-height: 16px;
          color: white;
          position: relative;
          padding: {
            left: 20px;
          };

          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 14px;
            height: 14px;
            top: 0;
            left: 0;
            border: 1px solid #DFE1E8;
            box-sizing: border-box;
          }
        }

        &:checked + label::before {
          background-image: url("../assets/images/check.svg");
          background-repeat: no-repeat;
          background-size: 8px;
          background-position-x: center;
          background-position-y: 3px;
        }
      }

      &-link {
        color: #0175B2;
      }

      &-span {
        display: block;
        padding-left: 25px;
        margin-top: -20px;
      }
    }
  }
}

//Active placeholders
.active .mobile__feedback-field {
  bottom: 35px;
  font-size: 13px;

  &:last-child {
    bottom: 60px;
  }
}

//Focus placeholders
.focus .mobile__feedback-field {
  bottom: 35px;
  font-size: 13px;

  &:last-child {
    bottom: 60px;
  }
}

//Desktop menu section
.desktop {
  display: none;
}

//Main
.is-fixed {
  margin-top: 50px;
}

//Prime section
.prime {
  position: relative;

  &__slider {
    &-item {
      min-height: 460px;
      position: relative;
      padding: {
        bottom: 90px;
      };
    }
  }

  &__bg {
    &-image {
      object-position: -178px !important;

      &-wrapper {
        &::after {
          content: '';
          position: absolute;
          display: block;
          background: linear-gradient(0deg, #172358, #172358), #14215A;
          mix-blend-mode: normal;
          opacity: 0.91;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  &__title {
    color: #FFFFFF;
    margin-top: 59px;
  }

  &__description {
    font-weight: 300;
    line-height: 24px;
    color: white;
    padding: {
      left: 24px;
    };
    position: relative;
    margin: {
      top: 30px;
    }

    &::before {
      @include mix-pseudo-base;
      height: 9px;
      width: 9px;
      background: #009FE3;
      top: 9px;
      left: 0;
    }
  }
}

//Services section
.services {
  position: relative;
  padding: {
    top: 65px;
    bottom: 57px;
  };

  &__title {
    padding: {
      bottom: 12px;
    };
  }

  &__item {
    display: block;
    position: relative;
    margin: {
      top: 20px;
    };
  }

  &__image {
    width: 100%;

    &-wrapper {
      height: 150px;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &__description {
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
      left: 20px;
      right: 18px;
    };

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }

    &-text {
      display: none;
    }

    &-svg {
      height: 50px;
      width: 50px;
    }
  ;
  }

  &__add {
    display: none;
  }
}

//Products section
.products {
  position: relative;
  padding: {
    top: 48px;
    bottom: 59px;
  };

  &__title {
    color: white;
    margin: {
      bottom: 40px;
    };
  }

  &__list {
    & > div:last-child .products__item::after,
    & > div:last-child .products__item::before {
      display: none;
    }
  }

  &__wrapper {
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;

    &::after,
    &::before {
      @include mix-pseudo-base;
      height: 1px;
      left: 50%;
      width: 50vw;
      bottom: 0;
      background: rgba(255, 255, 255, 0.11);
    }

    &::before {
      left: auto;
      right: 50%;
    }

    &:last-child {
      //display: none;
    }

    &-svg {
      fill: white;
      opacity: .4;
      width: 48px;
      height: 48px;
    }

    &-description {
      color: white;
      font-weight: 500;
      line-height: 20px;
      margin: {
        left: 15px;
      };
    }

    &-text {
      display: none;
    }
  }

  &__link {
    letter-spacing: 0.96px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 57px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    position: relative;

    &::after {
      @include mix-pseudo-base;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, #14234F, #14234F), #282B38;
      mix-blend-mode: normal;
      opacity: 0.46;
      border: 1px solid #AEAEAE;
      z-index: -1;
    }
  }

  &__add {
    display: none;
  }
}

//Steps section
.steps {
  padding: {
    top: 54px;
  };

  & .slick-dots {
    bottom: 40px;

    & button {
      background: #B3B3B3;
    }

    & > .slick-active > button {
      background: #D96C0D;
    }
  }

  &__title {
    padding: {
      bottom: 35px;
    };
  }

  &__slider {
    width: 320px;
    position: relative;
    margin: {
      left: auto;
      right: auto;
      //left: -25px;
      //right: -25px;
    };

    &-wrapper {
      background: linear-gradient(0deg, #F1F4F6, #F1F4F6), #DBE4EE;
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }

    &-text {
      font-size: 18px;
      line-height: 24px;
      margin: {
        top: 25px;
      };
    }

    &-description {
      line-height: 22px;
      margin: {
        top: 20px;
      };
    }

    &-item {
      padding: {
        left: 25px;
        right: 25px;
        bottom: 80px;
      };
      overflow: hidden;
    }
  }

  &__number {
    font-weight: bold;
    font-size: 45px;
    color: white;
    text-shadow: 0 2px 9px rgba(10, 40, 90, 0.18);

    &-wrapper {
      display: inline-block;
      position: relative;
      margin: {
        top: 15px;
      };
    }

    &-svg {
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
      opacity: 0.3;
      fill: #0A285A;

      &-wrapper {
        position: absolute;
        width: 96px;
        height: 96px;
        top: 8px;
        right: 9px;
        z-index: -1;
      }
    }
  }

  &__spinner {
    display: none;
  }
}

//About us part
.about-us {
  background: #0175B2;

  &__wrapper {
    position: relative;
    width: 320px;
    padding: {
      left: 25px;
      right: 25px;
      top: 50px;
      bottom: 40px;
    };
    margin: {
      left: auto;
      right: auto;
    };
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    color: white;
    position: relative;
    z-index: 5;
  }

  &__svg {
    fill: #1682B8;
    position: absolute;
    bottom: 0;
    right: 25px;
    width: 146px;
    height: 76px;
    z-index: 0;
  }
}

//News section
.news {
  position: relative;
  padding: {
    top: 50px;
    bottom: 80px;
  };

  &__title {
    color: white;
  }

  &__item {
    display: block;
    margin: {
      top: 20px;
    };

    &-wrapper {
      margin: {
        top: 20px;
      };
    }

    &-bg {
      &-wrapper {
        height: 150px;
        position: relative;
      }
    }

    &-description {
      min-height: 160px;
      background: white;
    }

    &-title {
      font-size: 16px;
      line-height: 20px;
      padding: {
        top: 15px;
        right: 45px;
        left: 20px;
      };
    }

    &-date {
      color: #818181;
      font-size: 14px;
      line-height: 24px;
      display: block;
      margin: {
        top: 20px;
        left: 20px;
      };
    }
  }

  &__main {
    border: 2px solid rgba(255, 255, 255, .11);
    box-sizing: border-box;
    overflow: visible;

    &-title {
      color: white;
      padding: {
        top: 15px;
        right: 25px;
        left: 20px;
      };
    }

    &-inner {
      display: flex;
      margin: {
        top: 30px;
      };
    }

    &-img {
      width: 100%;

      &-wrapper {
        width: 168px;
        display: flex;
        margin: {
          bottom: -1px;
          left: -1px;
        };
      }
    }

    &-date {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: white;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin: {
        left: 24px;
        bottom: 30px;
      };

      &-dd {
        letter-spacing: -3.6px;
        font-size: 45px;
        line-height: 53px;
      }

      &-mm {
        margin: {
          left: 10px;
        };
      }

      &-yy {
        margin: {
          left: 10px;
          top: 2px;
        };
      }
    }

    &-svg {
      display: none;
      &-top {
        display: none;
      }
    }
  }
}

//Map section
.map {
  padding: {
    top: 45px;
  };

  &__body {
    width: 100%;
    height: 500px;
    margin: {
      top: 45px;
    };
  }

  &__icon {
    &-font {
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      display: block;
      color: #012B4D;
      margin: {
        top: 18px;
      };
    }
  }
}

//Partners section
.partners {
  position: relative;
  padding: {
    top: 50px;
    bottom: 110px;
  };

  & .slick-dots {
    bottom: 60px;

    & button {
      background: #DFE1E8;
    }

    & > .slick-active > button {
      background: #D96C0D;
    }
  }

  &__title {
    color: white;
    padding: {
      bottom: 35px;
    };
  }

  &__item {
    background: white;

    &-logo {
      margin: {
        left: 20px;
      };

      &-wrapper {
        display: flex;
        align-items: center;
        height: 94px;
        border-bottom: 1px solid #CCD0D3;
        box-sizing: border-box;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      padding: {
        top: 30px;
      };
    }

    &-description {
      line-height: 20px;
      margin: {
        top: 15px;
      };

      &-wrapper {
        background: #F1F4F6;
        height: 330px;
        display: flex;
        flex-direction: column;
        padding: {
          left: 20px;
          right: 5px;
        };
      }
    }

    &-footer {
      height: 80px;
      position: relative;
      display: flex;
      align-items: center;
      margin: {
        top: auto;
      };
      padding: {
        top: 15px;
        bottom: 15px;
      };
    }

    &-link {
      color: #1A2757;
      line-height: 24px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: {
        right: auto;
        left: 10px;
      };
      &-text {
        margin: {
          left: 11px;
        };
      }

      &-svg {
        width: 37px;
        height: 37px;
        fill: #0a285a;
        &-wrapper {
          height: 37px;
        }
      }
    }

    &-svg {
      width: 80px;
      height: 80px;

      &-wrapper {
        position: absolute;
        right: 17px;
        bottom: 17px;
      }
    }
  }
}

//Instagram section
.instagram {
  padding: {
    top: 50px;
    bottom: 40px;
  };

  &__title {
    padding: {
      bottom: 30px;
    };
  }

  &__item {
    width: 100%;
    display: flex;

    &-wrapper {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }

  &__img {
    width: 100%;
  }
}

//Footer
.footer {
  background: #31343D;
  color: white;
  text-align: center;

  &__top {
    &-svg {
      display: none;
    }
  }

  &__contacts {
    padding: {
      top: 70px;
      bottom: 30px;
    };
    position: relative;

    &::after {
      @include mix-pseudo-base;
      width: 50vw;
      height: 1px;
      background: #41444D;
      bottom: 0;
      left: 50%;
    }

    &::before {
      @include mix-pseudo-base;
      width: 50vw;
      height: 1px;
      background: #41444D;
      bottom: 0;
      right: 50%;
    }

    &-phone {
      font-weight: 500;
      font-size: 26px;
      line-height: 24px;
      color: white;
      display: block;
    }

    &-email {
      font-size: 18px;
      line-height: 24px;
      color: white;
      display: block;
      margin: {
        top: 15px;
      };
    }

    &-address {
      color: #84868D;
      line-height: 24px;
      width: 205px;
      margin: {
        top: 10px;
        left: auto;
        right: auto;
      };
    }
  }

  &__menu {
    padding: {
      top: 30px;
      bottom: 35px;
    };
    position: relative;

    &::after {
      @include mix-pseudo-base;
      width: 50vw;
      height: 1px;
      background: #41444D;
      bottom: 0;
      left: 50%;
    }

    &::before {
      @include mix-pseudo-base;
      width: 50vw;
      height: 1px;
      background: #41444D;
      bottom: 0;
      right: 50%;
    }

    &-link {
      font-size: 18px;
      line-height: 37px;
      color: #DBDDE8;
    }
  }

  &__social {
    padding: {
      top: 40px;
      bottom: 75px;
    };

    &-list {
      display: flex;
      justify-content: space-between;
      width: 160px;
      margin: 0 auto;
    }

    &-link {
      &-svg {
        height: 28px;
        width: 28px;
        fill: #919294;
      }
    }

    &-feedback {
      background: #2B2E35;
      border: 1px solid rgba(223, 225, 232, 0.2);
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: white;
      width: 100%;
      height: 52px;
      padding: {
        top: 15px;
        bottom: 15px;
      };
      margin: {
        top: 30px;
      };
    }
  }

  &__rights {
    background: #262930;
    text-align: left;
    padding: {
      top: 9px;
      bottom: 12px;
    };

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-copyrights {
      font-size: 12px;
      line-height: 14px;
      color: #626368;
    }

    &-map {
      margin: {
        top: 3px;
      };

      &-link {
        font-size: 12px;
        line-height: 14px;
        color: #626368;
      }
    }

    &-privacy {
      &-link {
        font-size: 12px;
        line-height: 14px;
        color: #626368;
      }
    }

    &-logo {
      display: block;
      height: 35px;
      &-svg {
        width: 40px;
        height: 35px;
      }
    }
  }
}
