.background-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title--big {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.title--medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.title--small {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
