.background-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.add-sign {
  height: 38px;
  width: 38px;
  position: absolute;
  background: #D96C0D;
  &::before {
    @include mix-pseudo-base;
    width: 1px;
    top: 10px;
    bottom: 10px;
    left: 50%;
    background: white;
  }
  &::after {
    @include mix-pseudo-base;
    height: 1px;
    left: 10px;
    right: 10px;
    top: 50%;
    background: white;
  }
}

.title--big {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.title--medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.title--small {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 1024px) {
  .title--big {
    font-size: 34px;
    line-height: 39px;
  }

  .title--medium {
    font-size: 29px;
    line-height: 35px;
  }

  .title--small {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1410px) {
  .title--big {
    font-size: 40px;
    line-height: 45px;
  }

  .title--medium {
    font-size: 35px;
    line-height: 42px;
  }

  .title--small {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1680px) {
  .title--medium {
    font-size: 45px;
    line-height: 52px;
  }
}

//Services-detail page
.consulting,
.products-pg,
.cases-dt {
  &__title {
    margin: {
      top: 60px;
    };
    &-bg {
      &-wrapper {
        display: none;
      }
    }
    &-svg {
      display: none;
    }
  }

}

@media (min-width: 768px) {
  .consulting,
  .products-pg,
  .cases-dt {
    &__title {
      width: 385px;
      background: white;
      margin: {
        top: 0;
        left: -35px;
      };
      padding: {
        top: 45px;
        bottom: 30px;
        left: 35px;
      };
      &-wrapper {
        position: relative;
        height: 155px;
        display: flex;
        align-items: flex-end;
      }
      &-inner {
        position: relative;
      }
      &-bg {
        &-wrapper {
          display: block;
        }
      }
      &-svg {
        position: absolute;
        display: block;
        transform: rotate(-90deg);
        height: 94px;
        width: 106px;
        top: 20px;
        left: 240px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .consulting,
  .products-pg,
  .cases-dt {
    &__title {
      width: 490px;
      &-svg {
        left: 345px;
      }
    }
  }
}

@media (min-width: 1410px) {
  .consulting,
  .products-pg,
  .cases-dt {
    padding: {
      bottom: 139px;
    };
    &__title {
      width: 638px;
      padding: {
        left: 68px;
        top: 85px;
        bottom: 63px;
      };
      &-wrapper {
        height: 313px;
      }
      &-svg {
        left: 478px;
        top: 40px;
      }
    }
  }
}

