//Tablet version
@media (min-width: 768px) {
  //Prime section
  .prime {
    &__slider {
      &-item {
        min-height: 500px;
        padding: {
          bottom: 130px;
        };
      }
    }
    &__bg {
      &::after {
        width: 50%;
        right: auto;
      }
    }
  }

  //Services section
  .services {
    &__item {
      //display: flex;
    }
    &__image {
      &-wrapper {
        //min-height: 275px;
        //width: 50%;
        //position: relative;
      }
    }
    &__description {
      //height: auto;
      //width: 50%;
    }
  }

  //Products section
  .products {
    &__wrapper {
      width: 50%;
    }
    &__item {
      height: 160px;
      flex-direction: column;
      align-items: flex-start;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.11);
      padding: {
        top: 20px;
        left: 36px;
        right: 20px;
        bottom: 20px;
      };
      &::after {
        display: none;
      }
      &-svg {
        height: 60px;
        width: 60px;
        opacity: 1;
      }
      &-description {
        margin: {
          left: 0;
          top: auto;
        };
      }
    }
  }

  //Steps section
  .steps {}

  //News section
  .news {
    &__item {
      height: 350px;
      margin: {
        top: 30px;
      };
      &-wrapper {
        margin: {
          top: 10px;
        };
      }
      &-bg {
        &-wrapper {
          height: 175px;
        }
      }
      &-description {
        height: 175px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-title {
        padding: {
          top: 30px;
        };
      }
      &-date {
        margin: {
          bottom: 30px;
        };
      }
    }
    &__main {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  //Partners section
  .partners {
    & .slick {
      &-next,
      &-prev {
        top: 35px;
        bottom: auto;
        left: auto;
        right: 50%;
        margin: {
          right: -345px;
          left: auto;
        };
      }
      &-prev {
        margin: {
          right: -273px;
          left: auto;
        };
      }
    }
  }

  //Instagram section
  .instagram {
    padding: {
      bottom: 0;
    };
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      &-wrapper {
        display: block;
        padding: 0;
        width: 20%;
      }
    }
  }

  //Footer
  .footer {
    text-align: left;
    &__top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
      padding: {
        top: 50px;
        bottom: 70px;
      };
      &-svg {
        position: absolute;
        width: 50%;
        height: 50%;
        bottom: 0;
        right: 0;
        fill: #393C45;;
      }
    }
    &__contacts {
      width: 50%;
      padding: {
        top: 0;
        bottom: 0;
      };
      &::before{
        display: none;
      }
      &::after {
        display: none;
      }
      &-address {
        margin: {
          left: 0;
          right: 0;
        };
      }
    }
    &__menu {
      width: 100%;
      order: 3;
      padding: {
        top: 0;
        bottom: 0;
      };
      margin: {
        top: 40px;
      };
      &::before{
        display: none;
      }
      &::after {
        display: none;
      }
      &-list {
        column-count: 3;
      }
    }
    &__social {
      width: 50%;
      padding: {
        top: 0;
        bottom: 0;
      };
    }
    &__rights {
      &-inner {
        display: flex;
        align-items: center;
      }
      &-map {
        margin: {
          top: 0;
          left: 35px;
        };
      }
      &-privacy {
        margin: {
          left: 35px;
        };
      }
    }
  }
}
