.vacancies-dt {
  &__item {
    margin: {
      top: 30px;
    };

    &-title {
      font-weight: 500;
    }

    &-description {
      margin: {
        top: 15px;
      };
    }
  }

  &__link {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border: 1px solid #DFE1E8;
    box-sizing: border-box;
    padding: {
      top: 15px;
      left: 30px;
      right: 30px;
      bottom: 15px;
    };

    &-wrapper {
      background: #F7F8FD;
      padding: {
        top: 50px;
        bottom: 63px;
      };
      margin: {
        top: 50px;
      };
    }
  }
}

.vacancies-dt-pg {
  margin: {
    top: 105px;
  };

  & .products-pg {
    &__title {
      margin: {
        top: -60px;
      };

      &-wrapper {
        position: relative;
        height: 170px;
      }

      &-inner {
        flex-direction: column;
      }

      &-bg {
        &-wrapper {
          display: block;
        }
      }
    }

    &__price {
      color: white;
      font-size: 28px;

      &-wrapper {
        display: block;
        margin: {
          top: 50px;
        };
      }

      &-start {
        color: white;
      }

      &-order {
        color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3D9CD4;
        margin: {
          top: 20px;
        };
      }
    }
  }
}

@media (min-width: 576px) {
  .vacancies-dt-pg {

    & .products-pg {
      &__price {

        &-order {
          display: inline-flex;
          padding: {
            left: 30px;
            right: 30px;
          };
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .vacancies-dt {
    &__link {
      display: inline-flex;
      width: auto;

      &-wrapper {
        text-align: left;
      }
    }
  }

  .vacancies-dt-pg {
    margin: {
      top: 0;
    };

    & .products-pg {
      &__title {
        margin: {
          top: 0;
        };

        &-inner {
          flex-direction: row;
        }
      }

      &__price {
        &-wrapper {
          margin: {
            top: 0;
            bottom: 10px;
          };
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .vacancies-dt {
    &__link {
      transition: .3s;

      &:hover {
        border: 1px solid #D96C0D;
      }
    }
  }

  .vacancies-dt-pg {
    & .products-pg {

      &__price {

        &-order {
          transition: .3s;

          &:hover {
            background: #D96C0D;
          }
        }
      }
    }
  }
}

@media (min-width: 1410px) {
  .vacancies-dt {
    &-pg {
      padding: {
        bottom: 40px;
      };
    }

    &__item {
      &-description {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .vacancies-dt-pg {
    & .products-pg {
      &__title {

        &-wrapper {
          height: 313px;
        }
      }

      &__price {
        font-size: 40px;
        line-height: 47px;
        text-transform: capitalize;

        &-wrapper {
          margin: {
            top: 20px;
            bottom: 30px;
          };
        }

        &-buttons {
          &-wrapper {
            margin: {
              top: 0;
            };
          }
        }

        &-order {
          height: 54px;
        }
      }
    }
  }
}

@media (min-width: 1680px) {
}
